
@{
    ViewData["Title"] = "Home";
}

<h1>Home</h1>

<ul class="list-group mt-4">
    <li class="list-group-item"><a href="/categories">Categories</a></li>
    <li class="list-group-item"><a href="/votings">Votings</a></li>
</ul>

